# X2K API Tutorial Notebook
*Denis Torre* | April 9<sup>th</sup>, 2018

This Jupyter Notebook contains an interactive tutorial for **running the Expression2Kinases (X2K) API** using Python 3.

### Table of Contents
The notebook contains the following sections:
1. **<a href="#1">API Documentation</a>** - shows how to programmatically analyze your gene list in Python.
2. **<a href="#2">Using the X2K API</a>** - overview of the input parameters and output of the API.
3. **<a href="#3">Interpreting the results</a>** - gives an overview of the structure and meaning of the analysis results.
    * **<a href="#x2k">Expression2Kinases</a>** (X2K)
    * **<a href="#chea">Transcription Factor Enrichment Analysis</a>** (ChEA)
    * **<a href="#g2n">Protein-Protein Interaction Expansion</a>** (G2N)
    * **<a href="#kea">Kinase Enrichment Analysis</a>** (KEA)

## 1. <span id="1">Using the X2K API</span>
The X2K API allows for programmatic analysis of an input gene list.

The `run_X2K()` function displayed below can be used to analyze a gene list and load the results in a Python dictionary by performing a **POST request**.

The function requires only one input, `input_genes`, which is **a list of gene symbols **. Additional optional parameters can be specified and are described more in detailed below.

In [1]:
# Import modules
import http.client
import json

##### Function to run X2K
### Input: a Python list of gene symbols
### Output: a dictionary containing the results of X2K, ChEA, G2N, KEA.

def run_X2K(input_genes):
    
    # Open HTTP connection
    conn = http.client.HTTPConnection("amp.pharm.mssm.edu")
    
    # Get Payload
    genes_str = '\n'.join(input_genes)
    payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"text-genes\"\r\n\r\n{genes_str}\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"included_organisms\"\r\n\r\nboth\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"included_database\"\r\n\r\nChEA 2015\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"path_length\"\r\n\r\n2\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"minimum network size\"\r\n\r\n50\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"min_number_of_articles_supporting_interaction\"\r\n\r\n2\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"max_number_of_interactions_per_protein\"\r\n\r\n200\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"max_number_of_interactions_per_article\"\r\n\r\n100\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"biocarta\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"biogrid\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"dip\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"innatedb\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"intact\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"kegg\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"mint\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"ppid\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"snavi\"\r\n\r\ntrue\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"number_of_results\"\r\n\r\n50\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"sort_tfs_by\"\r\n\r\ncombined score\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"sort_kinases_by\"\r\n\r\ncombined score\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--".format(**locals())
    
    # Get Headers
    headers = {
        'content-type': "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
        'cache-control': "no-cache",
    }

    # Initialize connection
    conn.request("POST", "/X2K/api", payload, headers)

    # Get response
    res = conn.getresponse()
    
    # Read response
    data = res.read()
    
    # Convert to dictionary
    x2k_results = {key: json.loads(value) for key, value in json.loads(data).items()}
    
    # Return results
    return x2k_results

In [81]:
# Get input genes
input_genes = ['Nsun3', 'Polrmt', 'Nlrx1', 'Sfxn5', 'Zc3h12c', 'Slc25a39', 'Arsg', 'Defb29', 'Ndufb6', 'Zfand1', 'Tmem77', '5730403B10Rik', 'Tlcd1', 'Psmc6', 'Slc30a6', 'LOC100047292', 'Lrrc40', 'Orc5l', 'Mpp7', 'Unc119b', 'Prkaca', 'Tcn2', 'Psmc3ip', 'Pcmtd2', 'Acaa1a', 'Lrrc1', '2810432D09Rik', 'Sephs2', 'Sac3d1', 'Tmlhe', 'LOC623451', 'Tsr2', 'Plekha7', 'Gys2', 'Arhgef12', 'Hibch', 'Lyrm2', 'Zbtb44', 'Entpd5', 'Rab11fip2', 'Lipt1', 'Intu', 'Anxa13', 'Klf12', 'Sat2', 'Gal3st2', 'Vamp8', 'Fkbpl', 'Aqp11', 'Trap1', 'Pmpcb', 'Tm7sf3', 'Rbm39', 'Bri3', 'Kdr', 'Zfp748', 'Nap1l1', 'Dhrs1', 'Lrrc56', 'Wdr20a', 'Stxbp2', 'Klf1', 'Ufc1', 'Ccdc16', '9230114K14Rik', 'Rwdd3', '2610528K11Rik', 'Aco1', 'Cables1', 'LOC100047214', 'Yars2', 'Lypla1', 'Kalrn', 'Gyk', 'Zfp787', 'Zfp655', 'Rabepk', 'Zfp650', '4732466D17Rik', 'Exosc4', 'Wdr42a', 'Gphn', '2610528J11Rik', '1110003E01Rik', 'Mdh1', '1200014M14Rik', 'AW209491', 'Mut', '1700123L14Rik', '2610036D13Rik', 'Cox15', 'Tmem30a', 'Nsmce4a', 'Tm2d2', 'Rhbdd3', 'Atxn2', 'Nfs1', '3110001I20Rik', 'BC038156', 'LOC100047782', '2410012H22Rik', 'Rilp', 'A230062G08Rik', 'Pttg1ip', 'Rab1', 'Afap1l1', 'Lyrm5', '2310026E23Rik', 'C330002I19Rik', 'Zfyve20', 'Poli', 'Tomm70a', 'Slc7a6os', 'Mat2b', '4932438A13Rik', 'Lrrc8a', 'Smo', 'Nupl2', 'Trpc2', 'Arsk', 'D630023B12Rik', 'Mtfr1', '5730414N17Rik', 'Scp2', 'Zrsr1', 'Nol7', 'C330018D20Rik', 'Ift122', 'LOC100046168', 'D730039F16Rik', 'Scyl1', '1700023B02Rik', '1700034H14Rik', 'Fbxo8', 'Paip1', 'Tmem186', 'Atpaf1', 'LOC100046254', 'LOC100047604', 'Coq10a', 'Fn3k', 'Sipa1l1', 'Slc25a16', 'Slc25a40', 'Rps6ka5', 'Trim37', 'Lrrc61', 'Abhd3', 'Gbe1', 'Parp16', 'Hsd3b2', 'Esm1', 'Dnajc18', 'Dolpp1', 'Lass2', 'Wdr34', 'Rfesd', 'Cacnb4', '2310042D19Rik', 'Srr', 'Bpnt1', '6530415H11Rik', 'Clcc1', 'Tfb1m', '4632404H12Rik', 'D4Bwg0951e', 'Med14', 'Adhfe1', 'Thtpa', 'Cat', 'Ell3', 'Akr7a5', 'Mtmr14', 'Timm44', 'Sf1', 'Ipp', 'Iah1', 'Trim23', 'Wdr89', 'Gstz1', 'Cradd', '2510006D16Rik', 'Fbxl6', 'LOC100044400', 'Zfp106', 'Cd55', '0610013E23Rik', 'Afmid', 'Tmem86a', 'Aldh6a1', 'Dalrd3', 'Smyd4', 'Nme7', 'Fars2', 'Tasp1', 'Cldn10', 'A930005H10Rik', 'Slc9a6', 'Adk', 'Rbks', '2210016F16Rik', 'Vwce', '4732435N03Rik', 'Zfp11', 'Vldlr', '9630013D21Rik', '4933407N01Rik', 'Fahd1', 'Mipol1', '1810019D21Rik', '1810049H13Rik', 'Tfam', 'Paics', '1110032A03Rik', 'LOC100044139', 'Dnajc19', 'BC016495', 'A930041I02Rik', 'Rqcd1', 'Usp34', 'Zcchc3', 'H2afj', 'Phf7', '4921508D12Rik', 'Kmo', 'Prpf18', 'Mcat', 'Txndc4', '4921530L18Rik', 'Vps13b', 'Scrn3', 'Tor1a', 'AI316807', 'Acbd4', 'Fah', 'Apool', 'Col4a4', 'Lrrc19', 'Gnmt', 'Nr3c1', 'Sip1', 'Ascc1', 'Fech', 'Abhd14a', 'Arhgap18', '2700046G09Rik', 'Yme1l1', 'Gk5', 'Glo1', 'Sbk1', 'Cisd1', '2210011C24Rik', 'Nxt2', 'Notum', 'Ankrd42', 'Ube2e1', 'Ndufv1', 'Slc33a1', 'Cep68', 'Rps6kb1', 'Hyi', 'Aldh1a3', 'Mynn', '3110048L19Rik', 'Rdh14', 'Proz', 'Gorasp1', 'LOC674449', 'Zfp775', '5430437P03Rik', 'Npy', 'Adh5', 'Sybl1', '4930432O21Rik', 'Nat9', 'LOC100048387', 'Mettl8', 'Eny2', '2410018G20Rik', 'Pgm2', 'Fgfr4', 'Mobkl2b', 'Atad3a', '4932432K03Rik', 'Dhtkd1', 'Ubox5', 'A530050D06Rik', 'Zdhhc5', 'Mgat1', 'Nudt6', 'Tpmt', 'Wbscr18', 'LOC100041586', 'Cdk5rap1', '4833426J09Rik', 'Myo6', 'Cpt1a', 'Gadd45gip1', 'Tmbim4', '2010309E21Rik', 'Asb9', '2610019F03Rik', '7530414M10Rik', 'Atp6v1b2', '2310068J16Rik', 'Ddt', 'Klhdc4', 'Hpn', 'Lifr', 'Ovol1', 'Nudt12', 'Cdan1', 'Fbxo9', 'Fbxl3', 'Hoxa7', 'Aldh8a1', '3110057O12Rik', 'Abhd11', 'Psmb1', 'ENSMUSG00000074286', 'Chpt1', 'Oxsm', '2310009A05Rik', '1700001L05Rik', 'Zfp148', '39509', 'Mrpl9', 'Tmem80', '9030420J04Rik', 'Naglu', 'Plscr2', 'Agbl3', 'Pex1', 'Cno', 'Neo1', 'Asf1a', 'Tnfsf5ip1', 'Pkig', 'AI931714', 'D130020L05Rik', 'Cntd1', 'Clec2h', 'Zkscan1', '1810044D09Rik', 'Mettl7a', 'Siae', 'Fbxo3', 'Fzd5', 'Tmem166', 'Tmed4', 'Gpr155', 'Rnf167', 'Sptlc1', 'Riok2', 'Tgds', 'Pms1', 'Pitpnc1', 'Pcsk7', '4933403G14Rik', 'Ei24', 'Crebl2', 'Tln1', 'Mrpl35', '2700038C09Rik', 'Ubie', 'Osgepl1', '2410166I05Rik', 'Wdr24', 'Ap4s1', 'Lrrc44', 'B3bp', 'Itfg1', 'Dmxl1', 'C1d']

# Run X2K results
x2k_results = run_X2K(input_genes)
x2k_results.keys()

dict_keys(['ChEA', 'G2N', 'KEA', 'X2K'])

## 2. <span id="2">X2K API Documentation</span>

### 2.1 API Inputs
A **full list of the input parameters** for the `run_X2K()` function is available below.

<table id="parameter-table">
    <tr>
        <th style='text-align=left;'>Parameter</th>
        <th style='text-align=left;'>Step</th>
        <th style='text-align=left;'>Description</th>
        <th style='text-align=left;'>Notes</th>
    </tr>

    <tr>
        <td style='text-align=left;'>**input_genes** (required)</td>
        <td style='text-align=left;'>X2K</td>
        <td style='text-align=left;'>Contains the input gene set for the X2K analysis.</td>
        <td style='text-align=left;'>A list of strings representing the input gene symbols.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*organism* (optional)</td>
        <td style='text-align=left;'>ChEA</td>
        <td style='text-align=left;'>The organism from which TF-target interaction data should be integrated.</td>
        <td style='text-align=left;'>One of `('human', 'mouse', 'both')`. Default `'both'`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*included_database* (optional)</td>
        <td style='text-align=left;'>ChEA</td>
        <td style='text-align=left;'>The database from which TF-target interaction data should be integrated,</td>
        <td style='text-align=left;'>One of `('ChEA 2015', 'ENCODE 2015', 'ChEA & ENCODE Consensus', 'Transfac & Jaspar')` Default `'ENCODE 2015'`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*sort_tfs_by* (optional) 
        <td style='text-align=left;'>ChEA</td>
        <td style='text-align=left;'>The method used to sort the top Transcription Factors identified by ChEA.</td>
        <td style='text-align=left;'>One of `('p-value', 'rank', 'combined score')`. Default `'p-value'`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*path_length* (optional)</td>
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The maximum Protein-Protein Interaction path length for the network expansion.</td>
        <td style='text-align=left;'>Integer, default `2`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*minimum_network_size* (optional)
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The minimum size of the Protein-Protein interaction network generated using Genes2Networks.</td>
        <td style='text-align=left;'>Integer, default `50`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*min_number_of_articles_supporting_interaction* (optional) 
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The minimum number of published articles supporting a Protein-Protein Interaction for the expanded subnetwork.</td>
        <td style='text-align=left;'>Integer, default `2`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*max_number_of_interactions_per_protein* (optional) 
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The maximum number of physical interactions allowed for the proteins in the expanded subnetwork.</td>
        <td style='text-align=left;'>Integer, default `200`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*max_number_of_interactions_per_article* (optional) 
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The maximum number of physical interactions reported in each published article</td>
        <td style='text-align=left;'>Integer, default `100`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*ppi_networks* (optional) 
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The Protein-Protein Interaction databases to integrate for generation of the expanded subnetwork.</td>
        <td style='text-align=left;'>Either `'all'`, or a list containing one or more of `('biocarta', 'biogrid', 'dip', 'innatedb', 'intact', 'kegg', 'mint', 'ppid', 'snavi')`. Default `'all'`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*number_of_results* (optional) 
        <td style='text-align=left;'>G2N</td>
        <td style='text-align=left;'>The maximum network size of the expanded network generated using Genes2Networks.</td>
        <td style='text-align=left;'>Integer, default `50`.</td>
    </tr>
    <tr>
        <td style='text-align=left;'>*sort_kinases_by* (optional) 
        <td style='text-align=left;'>KEA</td>
        <td style='text-align=left;'>The method used to sort the top Transcription Factors identified by KEA.</td>
        <td style='text-align=left;'>One of `('p-value', 'rank', 'combined score')`. Default `'p-value'`.</td>
    </tr>
</table>

### 2.2 API Output
The `run_X2K()` function returns results as `dict` containing **four keys**, whose contents are described below.

<table id="parameter-table">
    <tr>
        <th style='text-align: left;'>Key</th>
        <th style='text-align: left;'>Notes</th>
        <th style='text-align: left;'>Contents</th>
    </tr>

    <tr>
        <td style='text-align: left;'>**ChEA**</td>
        <td style='text-align: left;'>Contains the results of the **Transcription Factor Enrichment Analysis**, generated using ChEA.</td>
        <td style='text-align: left;'>A `dict` containing two keys:
            <ul>
                <li><b>transcriptionFactors</b>: A list of the top transcription factors identified by ChEA, including computed statistics (p-values, Z-scores, combined scores) and the targets.</li>
                <li><b>sort transcription factors by</b>: A string specifying the column used to sort the transcription factors.</li>
            </ul>
        </td>
    </tr>
 
    <tr>
        <td style='text-align: left;'>**G2N**</td>
        <td style='text-align: left;'>Contains the results of the **Protein-Protein Interaction Expansion**, generated using Genes2Networks (G2N).</td>
        <td style='text-align: left;'>A `dict` containing two keys:
            <ul>
                <li><b>network</b>: A `dict` containing two keys, `nodes` and `interactions`, which define expanded subnetwork generated by G2N.</li>
                <li><b>input_list</b>: A list of gene symbols used as an input for the network expansion.</li>
            </ul>
        </td>
    </tr>
 
    <tr>
        <td style='text-align: left;'>**KEA**</td>
        <td style='text-align: left;'>Contains the results of the **Kinase Enrichment Analysis**, generated using KEA.</td>
        <td style='text-align: left;'>A `dict` containing two keys:
            <ul>
                <li><b>kinases</b>: A list of the top kinases identified by KEA, including computed statistics (p-values, Z-scores, combined scores) and the substrates.</li>
                <li><b>sort kinases by</b>: A string specifying the column used to sort the kinases.</li>
            </ul>
        </td>
    </tr>
 
    <tr>
        <td style='text-align: left;'>**X2K**</td>
        <td style='text-align: left;'>Contains the **Expression2Kinases network**, generated by integrating the results of ChEA, G2N and KEA.</td>
        <td style='text-align: left;'>...</td>
    </tr>
 
</table>

## 3. <span id="3">Interpreting the Results</span>
The results are stored in a dictionary containing four keys:

### 3.1 <span id="x2k">Expression2Kinases (X2K) results</span>
The results for the X2K analysis can be accessed in <code>x2k_results['X2K']</code>.

The results are stored in a dictionary containing three keys:
* `transcriptionFactors`
* `kinases`
* `network`

In [49]:
# Import modules
import pandas as pd

# Transcription factor dataframe
tf_dataframe = pd.DataFrame(x2k_results['X2K']['transcriptionFactors'])
tf_dataframe.head()

,combinedScore,enrichedTargets,name,pvalue,simpleName,zscore
0,129.226308,"[D4BWG0951E, AW209491, RDH14, SFXN5, SMO, AP4S...",E2F1-18555785,4.412057e-48,E2F1,-1.185130
1,83.877532,"[AW209491, SF1, RDH14, SMO, AP4S1, SAC3D1, ZKS...",ZFX-18555785,1.354555e-27,ZFX,-1.355787
2,82.652550,"[AW209491, AFMID, PKIG, SFXN5, PCMTD2, CREBL2,...",SRF-21415370,2.418610e-18,SRF,-2.037617
3,79.069261,"[MTMR14, 1700023B02RIK, TSR2, 2010309E21RIK, S...",JARID1A-20064375,2.058086e-26,JARID1A,-1.336862
4,74.406118,"[AW209491, SAC3D1, 1810049H13RIK, GSTZ1, RFESD...",MYC-18358816,1.999833e-25,MYC,-1.308318

In [50]:
# Kinase dataframe
kinase_dataframe = pd.DataFrame(x2k_results['X2K']['kinases'])
kinase_dataframe.head()

,combinedScore,enrichedSubstrates,name,pvalue,zscore
0,86.423879,"[RB1, MYC, MED1, CSNK2A1, AR, TP53, GATA6, GAT...",MAPK1,2.434652e-17,-2.259203
1,51.642589,"[MYC, MED1, AR, TP53, GATA6, GATA4, HIF1A, JUN...",MAPK3,8.217279e-11,-2.223846
2,48.013240,"[MYC, CSNK2A1, HIF1A, NKX2-5, CREBBP, JUN, HNR...",CSNK2A1,2.182833e-10,-2.158361
3,44.961008,"[RB1, MYC, CSNK2A1, AR, BIN1, JUN, CDC6, HNRNP...",GSK3B,7.127913e-10,-2.134715
4,43.613043,"[RB1, MYC, MED1, CSNK2A1, BIN1, CREBBP, JUN, C...",CDK2,1.039019e-09,-2.108439

In [67]:
# Network nodes
x2k_node_dataframe = pd.DataFrame(x2k_results['X2K']['network']['nodes'])
x2k_node_dataframe.head()

               name        pvalue type
0     E2F1-18555785  4.412057e-48   tf
1      ZFX-18555785  1.354555e-27   tf
2      SRF-21415370  2.418610e-18   tf
3  JARID1A-20064375  2.058086e-26   tf
4      MYC-18358816  1.999833e-25   tf

In [82]:
x2k_edge_dataframe.shape

(11248, 2)

In [83]:
x2k_edge_dataframe.drop_duplicates().shape

(11067, 2)

In [68]:
# Network edges
x2k_edge_dataframe = pd.DataFrame(x2k_results['X2K']['network']['interactions'])
x2k_edge_dataframe.head()

   source  target
0     265      31
1     265       4
2     265      20
3     265     108
4     265      55

### 3.2 <span id="chea">ChEA Results</span>
The results for the ChEA analysis can be accessed in <code>x2k_results['ChEA']</code>.

The results are stored in a dictionary containing three keys:
* `tfs`
* `sort transcription factors by`

In [61]:
# ChEA dataframe
chea_dataframe = pd.DataFrame(x2k_results['ChEA']['tfs'])
chea_dataframe.head()

,combinedScore,enrichedTargets,name,pvalue,simpleName,zscore
0,148.901060,"[D4BWG0951E, AW209491, RDH14, SFXN5, SMO, AP4S...",E2F1_18555785_CHIP-SEQ_MESC_MOUSE,6.463489e-54,E2F1,-1.215783
1,101.880718,"[AW209491, AFMID, PKIG, SFXN5, PCMTD2, CREBL2,...",SRF_21415370_CHIP-SEQ_HL-1_MOUSE,1.341966e-20,SRF,-2.226533
2,95.979170,"[MTMR14, 1700023B02RIK, TSR2, 2010309E21RIK, S...",JARID1A_20064375_CHIP-SEQ_MESC_MOUSE,1.385773e-29,JARID1A,-1.444410
3,95.714136,"[AW209491, SF1, RDH14, SMO, AP4S1, SAC3D1, ZKS...",ZFX_18555785_CHIP-SEQ_MESC_MOUSE,2.027806e-31,ZFX,-1.354320
4,93.100650,"[AW209491, SAC3D1, 1810049H13RIK, GSTZ1, RFESD...",MYC_18358816_CHIP-CHIP_MESC_MOUSE,3.823788e-29,MYC,-1.422824

In [62]:
# Sorting option
x2k_results['ChEA']['sort transcription factors by']

'combined score'

### 3.3 <span id="g2n">G2N Results</span>
The results for the G2N analysis can be accessed in <code>x2k_results['G2N']</code>.

The results are stored in a dictionary containing three keys:
* `input_list`
* `network`

In [65]:
# Input list
x2k_results['G2N']['input_list'][:5]

['Nsun3', 'Polrmt', 'Nlrx1', 'Sfxn5', 'Zc3h12c']

In [73]:
# G2N Network Nodes
g2n_node_dataframe = pd.DataFrame(x2k_results['G2N']['network']['nodes'])
g2n_node_dataframe.head()

      name  pvalue   type
0     MED1      -1  other
1     IAH1      -1  other
2      BAD      -1  other
3  ZFYVE20      -1  other
4   TMEM80      -1  other

In [84]:
g2n_node_dataframe.type.unique()

array(['other'], dtype=object)

In [74]:
# G2N Network Edges
g2n_edge_dataframe = pd.DataFrame(x2k_results['G2N']['network']['interactions'])
g2n_edge_dataframe.head()

   source  target
0       0       0
1       0      19
2       0     273
3       0      72
4       0      88

### 3.4 <span id="kea">KEA Results</span>
The results for the KEA analysis can be accessed in <code>x2k_results['KEA']</code>.

The results are stored in a dictionary containing three keys:
* `kinases`
* `sort kinases by`

In [77]:
# KEA Dataframe
kea_dataframe = pd.DataFrame(x2k_results['KEA']['kinases'])
kea_dataframe.head()

,combinedScore,enrichedSubstrates,name,pvalue,zscore
0,16.154121,"[NR3C1, CDK5RAP1, TLN1, STXBP2, KALRN, SIPA1L1...",CDK5,0.000411,-2.071791
1,7.509150,"[NR3C1, LIFR, RBM39, NAP1L1, RPS6KB1]",MAPK10,0.020638,-1.935044
2,6.969443,"[PRKACA, CDAN1, RPS6KB1]",PDPK1,0.025966,-1.908921
3,4.552960,"[PRKACA, RPS6KB1]",PDK1,0.064522,-1.661210
4,2.921089,"[NR3C1, EXOSC4, CRADD]",TRIM24,0.125913,-1.409678

In [78]:
# Sorting option
x2k_results['KEA']['sort kinases by']

'combined score'